.navbar-header {
  background: #222;
  display: flex;
  align-items: center;
  padding-left: 32px;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 4px rgba(0,0,0,0.07);
}

.navbar-title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
}
